body {
background-color: #f1d7ac;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

footer, a {
    text-align: center;
    margin: 0 10px;
    color: green;
}

img {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.photo-footer {
    margin-top: 30px;
}

.contact-mail {
    color: blue;
}